body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #1d77d0; /* dark blue */
}

#board {
    background-image: url("/static/images/flappybirdbg.png");
}